.formulario{
    padding: 16px;
    display: inline-table;
}

.boton{
    text-align: center;
}

input[type=text], input[type=password]{
    width: 250px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: list-item;
    border: none;
    background: #f1f1f1;
  }

body{
    background: lightblue;
}

